* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'LineSeed';
    font-size: 1.6rem;
    background-color: RGB(245, 254, 255);
}

@font-face {
    font-family: 'LineSeed';
    src:url('/school/interviewship/files/LINESeedJP_TTF_Rg.ttf') format('truetype');
}  

i {
    font-size: 2.4rem;
}

.footer {
    padding-block: 5rem;
    background-color: #151823;
    color: #666873;
}

.footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
    overflow: auto;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}

.footer__title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__list-item {
    list-style: none;
}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}

.footer__list-link:hover {
    color: #fff;
}

.footer__divider {
    margin-block: 2.5rem;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, .1);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__bottom .footer__list {
    flex-direction: row;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
}

.dfurl{
    text-decoration: none;
    color:inherit;
}
.panel{
    background: #bdbdbd;
    padding: 15px;
    color: #000000;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 15px;
}

.card{
    background: linear-gradient(128deg, #6b54544b, #ffffff13);
    padding: 15px;
    color: #000000;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 15px;
}

img{
    max-width:100%; height:auto;
}