@media screen and (min-width: 700px) {
    .profile {
        font-size: 30px;
    }

    .description {
        font-size: 23px;
    }

    .icon {
        font-size: 350%;
    }

    .button {
        display: block;
    }

    .bottom {
        display: flex;
    }

    .link-button {
        display: none;
    }

    .card {
        width: 70%;
        max-width: 630px;
        height: 50%;
    }
}

@media screen and (max-width: 700px) {
    .usericon {
        height: 300px;
    }

    .profile {
        font-size: 25px;
    }

    .description {
        font-size: 15px;
    }

    .icon {
        font-size: 150%;
    }

    .link-bottom {
        display: none;
    }

    .link-button {
        display: flex;
    }

    .card {
        width: 70%;
        height: 35%;
    }
}

@media screen and (min-height: 800px) {
    .link-button a {
        bottom: 40px;
    }
}

@media screen and (max-height: 800px) {
    .link-button a {
        bottom: 20px;
    }
}


@font-face {
    font-family: 'MyFont';
    src: url(/font/LINESeedJP_A_TTF_Rg.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: MyFont;
}

.background-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit
}

.contents {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #e1e1e15a;
    box-shadow: 0 40px 60px #00000039;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.bottom {
    justify-content: center;
    align-items: center;
}

.profile {
    color: #fafafa;
}

.name {
    text-align: center;
    position: relative;
    bottom: 100px;
}

.description {
    text-align: center;
    position: relative;
    bottom: 150px;
}

.button {
    position: relative;
    width: 75px;
    height: 75px;
    bottom: 15px;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px #00000039;
    background: linear-gradient(0deg, #dddddd, #ffffff);
    transition: all 5s;
}

.button:hover {
    background: linear-gradient(0deg, #0e123b, #000000);

    .icon {
        color: #FFFFFF;
    }
}

.icon {
    position: relative;
    top: 25px;
    color: #0e123b;
    transition: all 1.25s;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    width: 100%;
    text-align: right;
    color: #e1e1e181;
}

.marusan {
    color: #e1e1e181;
    transition: all 1s;
}

.marusan:hover {
    color: #fafafa;
    font-size: 20px;
}

.link-button {
    color: #fafafa;
    width: 100%;
}

.link-button a {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 20px;
}