@media (prefers-color-scheme: dark) {
  body {
    background: #313338;    
    color: #F2F3F4;
  }
  .panel{
    background: #2B2D31;
    color: #E0E1E5;
    border-radius: 5px;
  }
  .sidebar {
    background: #1E1E22;
  }
  .overlay{
    background: #030303cd;
  }
  .sidebar-username {
    color: #F3F4F5;
  }
  .sidebar-role {
    color: #94959B;
  }
  .sidebar-menu {
    border-top: 1px solid #3F4148;
  }
  .sidebar-menu > button > span {
    color: #989AA2;
  }
  .sidebar-menu > button > span:hover {
    color: #F3F4F5;
    transition: .3s;
  }
}
  
@media (prefers-color-scheme: light) {
  body {
    background: #FFFFFF;    
    color: #060606;
  }
  .panel{
    background: #EEEFF1;
    color: #5C5E66;
    border-radius: 5px;
  }
  .sidebar {
    background: #E0E1E5;
  }
  .overlay{
    background: #2C2C2CCD;
  }
  .sidebar-username {
    color: #060606;
  }
  .sidebar-role {
    color: #898A91;
  }
  .sidebar-menu {
    border-top: 1px solid #E2E3E6;
  }
  .sidebar-menu > button > span {
    color: #5C5E66;
  }
  .sidebar-menu > button > span:hover {
    color: #060606;
    transition: .3s;
  }
}

a{
  text-decoration: none;
  color:inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  margin: 22px 0;
}

h3 {
  margin: 0;
}
p{
  margin: 0;
}

iframe {
  border: none;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

body.open .overlay {
  opacity: 1;
  visibility: visible;
}

.burger {
  position: fixed;
  z-index: 3;
  top: 20px;
  right: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

.burger-avatar {
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

body.open .burger-avatar {
  translate: 40px 0;
  opacity: 0;
  visibility: hidden;
}

.burger-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("./assets/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

body.open .burger-icon {
  background-image: url("./assets/icon-close.svg");
}

.sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
  transition-property: filter, visibility, opacity;
  transition-duration: 0.6s;
}

@media (width >= 330px) {
  .sidebar {
    transition-property: translate;
  }
}

@media (width >= 400px) {
  .sidebar {
    translate: 100% 0;
    width: 180px;
    transition: 0.4s;
  }
}

@media (width >= 500px) {
  .sidebar {
    translate: 0 0;

    opacity: 1;
    visibility: visible;
    filter: blur(0);
  }
}

body.open .sidebar {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
  filter: blur(0);
}

.sidebar-avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.sidebar-username {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.sidebar-role {
  margin: 0 0 20px;
  font-size: 9px;
  font-weight: 400;
}

.sidebar-menu {
  display: grid;
  width: 100%;
  padding: 10px 0;
  padding-left: 20px;
}

@media (width >= 350px) {
  .sidebar-menu {
    padding-left: 0;
  }
}

.sidebar-menu > button {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 10px 20px;
}

.sidebar-menu > button > img {
  width: 17px;
  height: 17px;
}

.sidebar-menu > button > span {
  font-size: 11px;
  translate: 0 1px;
}

.container{
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
}

.panel{
  overflow-wrap: break-word;
  padding: 15px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 auto;
}


@media (max-width: 499px) {
}

@media (min-width: 500px) {
  .container{
    right: 180px;
    margin-left: 180px;
  }
}

